:root {
  --card-bg: #080f35;
  --primary: rgb(10, 6, 46);
  --primary-dark: rgb(53, 43, 139);
  --body-bg: #1a2035;
}

body {
  margin: 0;
  font-family: "math", sans-serif;
  background-color: var(--body-bg);
  color: #fff;
}

.center {
  margin: auto;
}

.coin-container {
  display: flex;
  justify-content: center;
}

.coin-input {
  padding: 0 16px;
  width: 100%;
  max-width: 400px;
  height: 50px;
  border-radius: 4px;
  border: none;
  background: var(--primary);
  color: #e2e2e2;
}

.coin-input::placeholder {
  color: #e2e2e2;
}

.table-headings,
.coin-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 970px;
  width: 100%;
  padding: 0 30px;
  background: var(--card-bg);
}

.table-headings {
  height: 80px;
  text-decoration: underline;
  border-bottom: 1px solid white;
  border-radius: 8px 8px 0 0;
}

.coin-row {
  height: 80px;
  border-radius: 8px;
  margin-bottom: 10px;
  box-shadow: 0 0 5px var(--card-bg);
}

.coin-row:hover {
  border: 1px solid white;
}

.coin {
  display: flex;
  align-items: center;
  gap: 10px;
  min-width: 250px;
}

.coin img {
  width: 30px;
  height: 30px;
}

.coin h1 {
  font-size: 16px;
  width: 140px;
}

.coin-symbol {
  text-transform: uppercase;
}

.search-bar {
  display: flex;
  justify-content: center;
}

.coin-data {
  display: flex;
  justify-content: space-between;
  flex: 1;
  text-align: center;
}

.coin-price,
.coin-percent,
.coin-volume,
.coin-marketcap {
  flex: 1;
}

